/*
pending design changes:
-pin footer to bottom of page
-display input and label correctly in both mobile and desktop
-make hamburger nav for contact info at the top (or hide fullSiteName)
-make hero img text h1 size when at desktop view and h2 size when at mobile view
*/

* {
    box-sizing: border-box;
}
  
body, html {
  font-family: 'Karla', sans-serif; 
  color: black;
  text-align: center;
  /*for sticky footer*/
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  /*sets line spacing to desired range of 120-150%*/
  line-height: 150%;
  /*off-white background-color for contrast with screenshots*/
  background-color: white;
}

nav {
  padding: 1% 0;
  background-color:#5EB325;
  width: 100%;
  color: white;
  border-radius: 1%;
}

#page-container {
  position: relative;
  min-height: 100%;
  /*margin-bottom: -50px;*/
}

#content-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  /*need it to scroll and stay pinned to bottom
  position: absolute;
  bottom: 0;*/
  font-size: 18px;
  background-color:#5EB325;
  width: 100%;
  color: white;
  border-radius: 1%;
  margin-top: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Rubik', sans-serif;
}

footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;*/
  height: 100px;
  /*ensures navbar scrolls over hero image*/
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.appTitle {
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.nav_links, /*go*/ {
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  
}

.nav_links li {
  /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));*/
  /*allows me to color and size font awesome icons*/
  color: #ffffff;
  /*text-shadow: 1px 1px 1px white;*/
  font-size: 1.25em;
  }

/*to put full names of sites in desktop view, create span class or i class 
html and then display: hidden in mobile mode*/

li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 100%;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
  
/*.fa-github-square {
  padding-left:40px;
  padding-right: 40px;
}*/

.hero-image {
  margin-top: 74px;
  position: relative;
  height: 300px;
  /*allows for cutting of image with resizing*/  
  overflow: hidden;
  /*adds black tint to image to make text stand out*/
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("Img Assets\\healthy-food_compressed_hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.container {
  font-family: 'Merriweather Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
}

.nutrients, .calories_burned {
  color: black;
}

/*need help figuring a way to stack in mobile and inline block in desktop*/
.label {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

input[type=text], select {
  width:100%;
  background-color: whitesmoke;
  color: black;
  padding: 14px 20px;
  font-size: 16px;
  margin: 8px 0;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  border: 2px solid orangered;
  width: 100px;
  height: 30px;
  background-color: orangered;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4%;
}

#results-list, #exercise-list {
  padding: 0;
}

.nutrients, .calories_burned {
  color: black;
}

h2 {
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
  color: white;
}

a.emailMe {
  color: blue;
}

a:visited {
  text-decoration: none;
  color: white;
}
  
button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.results-List {
    list-style: none;
}

.hidden {
  display: none;
}

/*iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .fullSiteName {
    display: none;
  }
}
  

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}
