* {
  box-sizing: border-box;
  /*normalize margins and padding*/
  margin: 0;
  padding; 0;
}
  
body, html {
  font-family: 'Karla', sans-serif; 
  color: black;
  text-align: center;
  /*for sticky footer*/
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  /*sets line spacing to desired range of 120-150%*/
  line-height: 150%;
}

nav {
  padding: 1% 0;
  background-color:#5EB325;
  width: 100%;
  color: white;
  border-radius: 1%;
}

#page-container {
  position: relative;
  min-height: 100%;
  /*margin-bottom: -50px;*/
}

#content-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  /*need it to scroll and stay pinned to bottom
  position: absolute;
  bottom: 0;*/
  font-size: 18px;
  background-color:#5EB325;
  width: 100%;
  color: white;
  border-radius: 1%;
  /*margin-top: 80px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}

footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  /*ensures navbar scrolls over hero image*/
  z-index: 1000;
}

.appTitle {
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav_links {
  padding: 0;
  margin: 5px, 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.nav_links li {
  /*allows me to color and size font awesome icons*/
  color: #ffffff;
  /*text-shadow: 1px 1px 1px white;*/
  font-size: 1.25em;
  }

li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 100%;
  padding-left: 5px;
  padding-right: 5px;
  /*color: white;*/
}

.hero-image {
  margin-top: 26px;
  position: relative;
  height: 300px;
  /*allows for cutting of image with resizing*/  
  overflow: hidden;
  /*adds black tint to image to make text stand out*/
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("Img Assets\\healthy-food_compressed_hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.container {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
}

.hero-text {
  text-transform: uppercase;
  /*responsive text sizing for hero text based off viewport size using viewport units (vw)*/
  /*2 vw = 2% of viewport width*/
  font-size: calc(24px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.nutrients, .calories_burned, .yelp_search_results {
  color: black;
}

/*need help figuring a way to stack in mobile and inline block in desktop*/
.label {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.form-wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

input[type=text], select {
  text-align: center;
  width:100%;
  background-color: whitesmoke;
  color: black;
  padding: 14px 20px;
  font-size: 16px;
  margin: 8px 0;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  border: 2px solid orangered;
  width: 100px;
  height: 30px;
  background-color: orangered;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4%;
}

/*style the input bar to look other inputs*/
#js-yelpMaxResults {
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 5px 20px;
  font-size: 16px;
  margin: 8px 0;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

#results-list, #exercise-list {
  padding: 0;
}

.nutrients, .calories_burned {
  color: black;
}

.results {
  margin: 10px auto 10px auto;
}

.nutrients, .calories_burned {
  margin: 10px auto 10px auto;
}

.resultsHeader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5EB325;
  width: 225px;
  font-family: 'Rubik', sans-serif;
}

a:link {
  text-decoration: none;
  color: blue;
}

a.emailMe {
  color: blue;
}

a:visited {
  text-decoration: none;
  color: purple;
}
  
button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.results-List {
  list-style: none;
}

.hidden {
  display: none;
}


 /* for any screen larger than 630px*/
@media screen and (max-width: 630px) {
  /*hides fullSiteNames below 630px width*/
  li span {
    display: none;
  }

  .form-wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 375px) {
  /*hides desktopNav*/
  #desktop_nav {
    display: none;
  }

  #content-wrap {
    padding-top: 0;
  }

  /* Style the hamburger navigation menu */
  .hamburgerNav {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 1% 0;
    background-color:#5EB325;
    width: 100%;
    color: white;
    border-radius: 1%;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .hamburgerNav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .hamburgerNav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
  }

  /* Style the hamburger menu */
  .hamburgerNav a.icon {
    background: #5EB325;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    /*take up whole nav bar container*/
    height: 100%;
  }

  /* Add a grey background color on mouse-over */
  .fa-bars a:hover {
    color: blue;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
  }

  .hero-image {
    margin-top: 0;
  }
}

